body {
	background-color: white;
	color:#777;
	display: block;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
}

h1 {
	display:inline-block;
	letter-spacing: 5px;
	color:black;


}
}

nav {
	float:right;
	text-decoration: none;
	border:5em;
	margin-bottom: 10em;

}

a:link{
	text-decoration: none;
	color:#777;
}

a:visited{
	color:#777;
}

a:hover{
	color:#FFDD58;
}

h2 {
	font-weight: bold;
	font-size:25px;
	color:black;
	line-height: 1.5em;
	letter-spacing:.2em;

}

h3 {
	font-weight: bold;
	font-size:18px;
	color:black;
	border:3em;
}

article {
	float:center;
	text-align: center;
	padding-left:10em;
	padding-right: 10em;
	line-height: 1.5em;
}

a > img {
	
	display:inline;
	float:right;
	height:2.5em;
	width:2.5em;

}

footer {
	  float:bottom;
}


.css-screenshot {
	height:350px;
	width:auto;
}

.kitten-screenshot{
	height:300px;
	width:auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C2ACC4;
    margin: 1em 0;
    padding: 0; 
}

figure > img {
	height:300px;
	width:auto;
	margin:1em;
	border: 1px solid black;
}
figure {
	float:middle;
	
}

figcaption {
	float:middle;
	font-size:10px;
}

span {
	color:#FFDD58;;
}